html, body {
    background-color: #1fe4d3;
    margin: 10px;
  }
  
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: yellowgreen;
  }
  
  .container > div:nth-child(1n) {
    background-color:lightgray;	
  }
  
  .container > div:nth-child(3n) {
    background-color:lightgoldenrodyellow;
  }
  
  .container > div:nth-child(2n) {
    background-color:lightpink;
  }
  
  .container > div:nth-child(4n) {
    background-color:yellow;
  }
  
  
  .container2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color:lightseagreen;
  }
  
  .container2 > div:nth-child(1n) {
    background-color:lightblue;	
  }
  
  .container2 > div:nth-child(3n) {
    background-color:lightsalmon;
  }
  
  .container2 > div:nth-child(2n) {
    background-color:lightcoral;
  }
  
  .container2 > div:nth-child(4n) {
    background-color: blueviolet;
  }
  
  .title {
    color: lightblue;
    background-color:goldenrod;
    text-align: center;
    padding: 10px 0;
    margin: 0px;
  }