.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #22e4eb;
}

html, body {
  background-color: #71cec1;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #cab123;	
}

.container > div:nth-child(3n) {
  background-color: #cc12d3;
}

.container > div:nth-child(2n) {
      background-color: #a9e49d;
}

.container > div:nth-child(4n) {
      background-color: #927c79;
}