html,body {
    background-color: #ffeead;
    margin: 10px;
    font-size: 20px;
  }
  
  p {
    color:lightblue;
    text-align: center;
  }
  
  .flexbox-header > div {
    display: flex;
    font-size: 1em;
    padding: 10px 20px;
  }
  
  .flexbox-header {
    background-color:lightcoral;
    color: #ffeead;
  }
  
  
  .header {
      background-color: lightcyan;	
  }
  
  .header :nth-child(2) {
      padding: 0 40px;
  }
  
  .menu {
      background-color:lightgoldenrodyellow;
  }
  
  .content {
      background-color: yellow;
  }
  
  .footer {
      background-color: lightsalmon;
  }
  
  .grid-page > div {
      color: lightseagreen;
      display: flex;
      align-items: center;
      padding: 0px 20px;
  }
  
  