body, html { 
    height: 100%; 
}
body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 12% auto;
    grid-template-areas:
        "sidebar right"
        "footer footer";
}

a { 
    text-decoration: none; 
}

ul { list-style-type: none; 
    float:right; 
}

ul li {
    display:inline;
}
ul li a { color: white;
          padding: 15px; 
        }

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: rgb(231, 220, 15);
    color: #042703;
    text-align:center;
    font-weight: bold;
    display: inline-block;
}

header {
    background-color: rgb(214, 140, 29);
    grid-area: head;
    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#hero {
    background-color: rgb(175, 177, 204);
    padding: 2em;
    border-top: 5px solid rgb(235, 201, 162);
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
    color: rgb(3, 44, 16);
}

#content p {
    color: rgb(37, 37, 34);
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
}

#company {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.sidebar {
    grid-area: sidebar;
    background: #9c0ec03b;
    color: #970e0ee5;
    padding: 1em;
}

.main {
    grid-area: right;
    grid-template-rows: 51px fit-content(30%) 40% auto;
    display: grid;
    grid-template-areas:
        "head"
        "hero"
        "invention"
        "features"
}

footer {
    grid-area: footer;
    background: lightgray;
}

#features {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align:center;
    grid-area: features;
}

#features i {
    font-size: 2em;
}

ul#features {
    margin: 0; padding: 0;
}

ul#features li {
    background-color: lightgray;
    padding: 1em;
    align-self: start;
}

ul#features li p {
    color: #4C4C4C;
}

ul#features li:nth-child(1) {
    background-color:rgba(240, 230, 230, 0.753);
}
ul#features li:nth-child(2) {
    background-color:rgb(189, 186, 172);
    align-self: center;
}
ul#features li:nth-child(3) {
    background-color:rgb(192, 204, 201);
}
ul#features li:nth-child(4) {
    background-color:rgb(158, 166, 175);
    align-self: center;
}
ul#features li:nth-child(5) {
    background-color:rgb(150, 146, 141);
}

section#info {
    background-color: rgb(43, 231, 231);
    padding: 2em;
    grid-area: invention;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: space-around;
}

#company-logo {
    width: 200px;
    align-self: center;
}

 @media screen and (max-width: 60em) {
    .sidebar {
        display: none;
    }

    body {
        grid-template-columns: auto;
        grid-template-areas:
            "right"
            "footer";
    }

    .main {
        grid-template-areas:
            "head"
            "hero"
            "features"
            "invention"
    }

    #features {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
    }

    ul#features li:nth-child(5) {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 40em) {

    .main {
        grid-template-rows: auto fit-content(30%) 40% auto;
    }

    header {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }

    #logo {
        margin-left: 0;
    }

    nav ul {
        float:none;
        padding:0;margin:0;
        width:100%;
    }
    nav ul li a {
        width: calc(25% - 35px);
        display: inline-block;
        font-size: .9em;
    }

    section#hero, section#info {
        grid-template-columns: auto;
        text-align: center;
    }

    .main {
        grid-template-areas:
            "head"
            "hero"
            "invention"
            "features"
    }

    h1, h2 {
        font-size: 1.2em;
    }

    #company {
        width: 100px;
        height: 100px;
    }

    #content p, #content2 p {
        font-size:.9em;
    }

    #features {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
    }

    ul#features li:nth-child(2), ul#features li:nth-child(1) {
        grid-column: 1 / span 2;
    }

    footer {
        background-color: #41C7C7;
    }

    footer p {
        color: white;
        text-align:center;
    }

} 