.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #f3c50d;
  }
  
  html, body {
    box-sizing: border-box;
    background-color: #84c069;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  
  .container > div:nth-child(1n) {
    background-color: #64c296;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #d0b3eb;
  }
  
  .container > div:nth-child(2n) {
    background-color: #f5aca9;
  }
  
  .container > div:nth-child(4n) {
    background-color: #6f6c80;
  }
  